.wrapper{
  width: 90%;
  margin: auto;

  .comic-card{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    .comic-card-navigation{
      padding: 2rem 0;
      .mdc-select{
        width: 18vh;
      }
    }
    
    .comic-card-img{

    }
    
    .comic-card-comments{
      text-align: left;
      .comment-input{
        mdc-list-item{
          width: 70%;
          margin: auto;
        }
      }
    }
  }

}
