<div class="wrapper">
  <mdc-card *ngIf="comic" class="comic-card">
    <div class="comic-card-article-group-heading" mdcHeadline5>{{comic.name}}</div>
    <div class="comic-card-article-group-heading" mdcSubtitle1>criado por {{comic.author}}</div>
    <mdc-ripple class="comic-card-navigation">
      <button mdc-icon-button icon="keyboard_arrow_left" (click)="goBack()" [disabled]="selectedPage == comic.pages[0]"></button>
      <mdc-select placeholder="escolha a página" outlined [formControl]="pageControl" (selectionChange)="onSelectedPageChange($event.index)">
        <option *ngFor="let page of comic.pages" [ngValue]="page">
          {{page.title}}
        </option>
      </mdc-select>
      <button mdc-icon-button icon="keyboard_arrow_right" (click)="goNext()" [disabled]="selectedPage == comic.pages[comic.pages.length -1]"></button>
    </mdc-ripple>
    <mdc-ripple class="comic-card-img">
      <img [src]="selectedPage?.url ? selectedPage?.url : pageSample" alt="Smiley face">
    </mdc-ripple>
    <mdc-ripple class="comic-card-navigation">
      <button mdc-icon-button icon="keyboard_arrow_left" (click)="goBack()" [disabled]="selectedPage == comic.pages[0]"></button>
      <mdc-select placeholder="escolha a página" outlined [formControl]="pageControl" (selectionChange)="onSelectedPageChange($event.index)">
        <option *ngFor="let page of comic.pages" [ngValue]="page">
          {{page.title}}
        </option>
      </mdc-select>
      <button mdc-icon-button icon="keyboard_arrow_right" (click)="goNext()" [disabled]="selectedPage == comic.pages[comic.pages.length -1]"></button>
    </mdc-ripple>
    <mdc-card-actions>
      <mdc-card-action-icons>
        <button [on]="isFavorite" mdcIconButton #favoriteIcon (click)="markAsFavorite(favoriteIcon)">
          <mdc-icon mdcIconOn>favorite</mdc-icon>
          <mdc-icon>favorite_border</mdc-icon>
        </button>
      </mdc-card-action-icons>
    </mdc-card-actions>
    <mdc-list-divider></mdc-list-divider>
    <mdc-ripple class="comic-card-comments">
      <h2 class="comic-card-article__title" mdcHeadline5>Comentários</h2>
      <div class="comment-input">
        <mdc-list #custom twoLine avatar class="comic-lis" interactive="false">
          <mdc-list-item>
            <mdc-text-field #commentInput label="escreva aqui seu comentário" fullwidth (keyup.enter)="sendComment(commentInput)"></mdc-text-field>
            <button mdcListItemMeta mdc-icon-button icon="send" (click)="sendComment(commentInput)"></button>
          </mdc-list-item>
        </mdc-list>
      </div>
      <div class="comment-body">
        <mdc-list #custom twoLine avatar class="demo-list--custom" interactive="false">
          <mdc-list-item *ngFor="let comment of comments">
              <mdc-icon mdcListItemGraphic>account_circle</mdc-icon>
              <mdc-list-item-text secondaryText="por {{comment.name}}">{{comment.message}}</mdc-list-item-text>
              <button *ngIf="user && user.id == comment.user_id" mdcListItemMeta mdc-icon-button icon="close" (click)="sendComment(commentInput)"></button>
          </mdc-list-item>
        </mdc-list>
      </div>
    </mdc-ripple>
  </mdc-card>
</div>