@import "~@angular-mdc/theme/material";

.comic-title{
  text-align: center;
  display: block;
  padding-top: 1rem;
}
.comic-subtitle {
  text-align: center;
}
.wrapper{
  width: 90%;
  margin: auto;
  .comic-card-img{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
  }
  
  .comic-card-navigation{
    margin-top: 2rem;
    .mdc-select{
      min-width: 20vh;
    }
    .favorite-icon {
        @include mdc-icon-button-ink-color(#de442c);   
    }
    .unfavorite-icon {
      @include mdc-icon-button-ink-color(#b1b1b1);  
      
    }
  }

  .comic-card{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    width: 120vh;
    margin: auto;
    .comic-card-comments{
      text-align: left;
      .comment-input{
        mdc-list-item{
          width: 70%;
          margin: auto;
        }
      }
    }
  }

}
