@import "~@angular-mdc/theme/material";

.demo-card {
    width: 350px;
    margin: 28px;
  }
  
  .demo-card__primary {
    padding: 1rem;
  }
  
  .demo-card__title {
    margin: 0;
  }
  
  .demo-card__subtitle {
    @include mdc-theme-prop(color, text-secondary-on-background);
  
    margin: 0;
  }
  
  .demo-card__secondary {
    @include mdc-theme-prop(color, text-secondary-on-background);
  
    padding: 0 1rem 8px 1rem;
  }
  
  .demo-card-article {
    padding: 16px;
    text-decoration: none;
    color: inherit;
  }