<div class="form-group mt-3">
	<label for="slctCustomer" class="form-label form-label-sm">Pesquise seus clientes que terão acesso:</label>
	<input id="slctCustomer" type="text" class="form-control form-control-sm" [(ngModel)]="searchText" />
</div>
<mdc-image-list #demolist class="standard-image-list">
	<mdc-image-list-item *ngFor="let c of comicList" (click)="goToComic(c.id)">
		<mdc-image-list-image-aspect>
			<img mdcImageListImage [src]="c.url != '' ? c.url : cover_sample" />
		</mdc-image-list-image-aspect>
		<mdc-image-list-supporting>
			<span mdcImageListLabel>{{c.name}}</span>
		</mdc-image-list-supporting>
	</mdc-image-list-item>
</mdc-image-list>