<div class="wrapper">
  <mdc-card class="page-list-card" *ngIf="comic">
    <div class="page-list-article-group-heading" mdcHeadline5>Listagem de páginas</div>
    <mdc-ripple class="page-list-card-images" *ngIf="pageList && pageList.length > 0">
      <div class='container' dragula="CLICKS" [dragula]="PageItems" [(dragulaModel)]='pageList'>
        <div class="drag-item" *ngFor="let p of pageList" (click)="goToEditPage(p.id)">
          <img class="images" [src]="p.url != '' ? p.url : page_sample" />
          <div class="page-action-container">
            <span class="page-title" mdcSubtitle2>{{p.title}}</span>
            <button class="page-delete-button" mdc-icon-button icon="close" (click)="deletePage(p.id)"></button>
          </div>
        </div>
      </div>
    </mdc-ripple>
    <mdc-ripple class="page-list-card-images" *ngIf="pageList && pageList.length == 0">
      <div class="page-not-found-card__primary">
        <h1 class="page-not-found-card__title" mdcHeadline3>Nenhuma página encontrada</h1>
      </div>
      <div class="page-not-found-card__secondary" mdcBody2>
        <h1 mdcSubtitle1>para criar novas páginas use o formulário abaixo</h1>
      </div>
    </mdc-ripple>
    <mdc-card-actions>
      <mdc-card-action-buttons>
        <button mdc-button unelevated mdcCardAction="button" (click)="goToCreatePage()">Criar nova página</button>
      </mdc-card-action-buttons>
    </mdc-card-actions>
  </mdc-card>
</div>