@import "~@angular-mdc/theme/material";

.comic-title{
    text-align: center;
    display: block;
    padding-top: 1rem;
}

.comic-subtitle{
    text-align: center;
    display: block;
    padding-bottom: 1rem;
}

.wrapper{
    width: 90%;
    margin: auto;

    .page-card{
        margin: 2rem;
        padding: 1rem;
        text-align: center;       
    }
    .container {
        display: flex;
        justify-content: space-between;
        .comment-card {
            flex-grow: 3;
            margin: 2rem;
            padding: 1rem;
            text-align: center;  
            .comments{
                text-align: left;
                .comment-input{
                    mdc-list-item{
                        width: 70%;
                        margin: auto;
                    }
                }
            }
            .edit-comment-button{
                position: absolute;
                right: 4rem;
                @include mdc-icon-button-ink-color(#b1b1b1);
              }
              .avatar {
                height: 50px;
                width: 50px;
                margin-right: 12px;
                border-radius: 50%;
                background-size: contain;
              }
        }
    }

    .card-error-success {
        
        text-align: center;
        .error-text {
            color: #b00020;
            margin: 2rem;
        }
        .success-text {
            color: #b00020;
            margin: 2rem;
        }
      }
    
}