<mdc-top-app-bar #webcomixAppbar [short]="false" [dense]="on" [fixed]="off">
	<mdc-top-app-bar-row>
		<mdc-top-app-bar-section class="top-bar-left">
			<mdc-icon mdcTopAppBarNavIcon (click)="sidebarMenu.open = !sidebarMenu.open">menu</mdc-icon>
		</mdc-top-app-bar-section>
		<mdc-top-app-bar-section class="top-bar-center justify-center" (click)="goToHome()">
			<h2 class="text-click">Webcomix</h2>
		</mdc-top-app-bar-section>
		<mdc-top-app-bar-section class="top-bar-right">
			<span mdcSubtitle2 *ngIf="user">Bem vindo, {{user.name}}</span>
			<div mdcMenuSurfaceAnchor #demoanchor>
				<div class="avatar" *ngIf="!avatar" [ngStyle]="{'background-image': 'url('+ avatarSample + ')'}" (click)="loginMenu.open = !loginMenu.open">
				</div>
				<div class="avatar" *ngIf="avatar" [ngStyle]="{'background-image': 'url('+ avatar + ')'}" (click)="loginMenu.open = !loginMenu.open">
				</div>
				<!--<mdc-icon mdcTopAppBarActionItem (click)="loginMenu.open = !loginMenu.open">account_circle</mdc-icon>-->
				<mdc-menu #loginMenu anchorCorner="bottomStart" class="justify-center">
					<app-menu-login [user]="user" [loginMenu]="loginMenu"></app-menu-login>
				</mdc-menu>
			</div>
		</mdc-top-app-bar-section>
	</mdc-top-app-bar-row>
</mdc-top-app-bar>
<div class="mdc-top-app-bar--fixed-adjust">
	<mdc-drawer drawer="modal" #sidebarMenu>
		<mdc-drawer-header title="Menu"></mdc-drawer-header>
		<mdc-drawer-content>
			<app-menu-sidebar [sidebarMenu]="sidebarMenu"></app-menu-sidebar>
		</mdc-drawer-content>
	</mdc-drawer>
	<div class="demo-drawer-app-content" mdcDrawerAppContent>
		<router-outlet></router-outlet>
	</div>
</div>