@import "~@angular-mdc/theme/material";

.login-card {
  width: 350px;
  margin: 2rem auto;
}
  
.login-card__primary {
  padding: 1rem;
}
  
.login-card__title {
  margin: 0;
}
  
.login-card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}
  
.login-card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}
  
.login-card-article {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

.mdc-card__action-buttons {
  margin-right: 15px 
}


.signup-card {
  width: 350px;
  margin: 2rem auto;
}
  
.signup-card__primary {
  padding: 1rem;
}
  
.signup-card__title {
  margin: 0;
}
  
.signup-card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}
  
.signup-card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}
  
.signup-card-article {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}