<mdc-card class="demo-card">

  <div class="demo-card__primary">
    <h2 class="demo-card__title" mdcHeadline6>Log in</h2>
  </div>
  <div class="demo-card__secondary" mdcBody2>
    <form [formGroup]="comicForm" id="comicForm">
      <mdc-form-field>
        <mdc-text-field formControlName="name" label="Nome da comic" outlined [helperText]="comicHelper" required
          minlength="3"></mdc-text-field>
        <mdc-text-field-helper-text #comicHelper="mdcHelperText" validation>
          <span *ngIf="comicForm.controls['name'].errors?.required">email is required</span>
          <span *ngIf="comicForm.controls['name'].errors?.minlength">email is not long enough</span>
        </mdc-text-field-helper-text>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-textarea type="description" formControlName="description" label="Descricao da comic" [helperText]="descriptionHelper"
          rows="3" cols="16"></mdc-textarea>
        <mdc-text-field-helper-text #descriptionHelper="mdcHelperText" validation>
          <span *ngIf="comicForm.controls['description'].errors?.required">email is required</span>
          <span *ngIf="comicForm.controls['description'].errors?.minlength">email is not long enough</span>
        </mdc-text-field-helper-text>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-switch formControlName="isPublic"></mdc-switch>
        <label>Tornar pública</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-switch formControlName="isCommentActive"></mdc-switch>
        <label>Ativar comentários</label>
      </mdc-form-field>
      <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)"
        [uploader]="uploader" class="well my-drop-zone">
        Another drop zone
      </div>
    </form>
  </div>
  <mdc-card-actions>
    <mdc-card-action-buttons>
      <button mdc-button unelevated mdcCardAction="button" (click)="submitcomicForm()">Criar</button>
    </mdc-card-action-buttons>
  </mdc-card-actions>
</mdc-card>

<div class="col-md-9" style="margin-bottom: 40px">

  <h3>Upload queue</h3>
  <p>Queue length: {{ uploader?.queue?.length }}</p>

  <table class="table">
    <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <div>
      Queue progress:
      <div class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
  </div>

</div>